header{
    background-color: rgb(11, 11, 150);
    height: 20%;
    width: 70%;
    text-align: center;
    color: #f1e85f;
    text-shadow:antiquewhite 1px 1px ; 
    margin-top: 20%;
    margin: auto;
    
}

footer{
    margin-left: 20px;
    margin-bottom: 0.5px;
    width: 70%;
    margin: auto;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
}

.main{
    background-image: url("../img/bgmovie.png");
    background-size: 100%;
    width: 70%;
    margin: auto;
}

hr {
    width: 100%;
}
/* ----------- Home Screen ------------ */
/* Welcome to the Quiz Movie */
.home-box h3{
    font-size: 20px;
    color: rgb(4, 4, 139);
    font-weight: 500px;
    margin-bottom: 15px;
    line-height: 25px;
}

/* Input Text */ 
.text_name{
    margin-top: 0px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
}

/* Label and Instructions*/
.home-box p{
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 22px;
    color: #000000;
    font-weight: 500;   
}

/* Total number of questions */
.home-box p span{
    font-weight: 500;
}

/* Start Quiz button */
.home-box .btn{
    margin-top: 20px;
}

/* ----------- Questions Screen ------------ */
/* Greetings */
.quiz-box .welcome-container{
    font-size: 18px;
    color: rgb(4, 4, 139);
    font-weight: 600;
    border-bottom: 1px solid #8faaf7;
    padding-bottom: 10px;
    line-height: 25px;
}

/* Questions Control */
.quiz-box .question-number{
    font-size: 18px;
    color: rgb(4, 4, 139);
    font-weight: 600;
    border-bottom: 1px solid #8faaf7;
    padding-bottom: 10px;
    line-height: 25px;
}

/* Image */
.img{
    padding: 20px;
    height: 250px;
    text-align: center;
    opacity: 1;
}

/* Questions Text */
.quiz-box .question-text{
    font-size: 22px;
    color: rgb(4, 4, 139);
    line-height: 28px;
    font-weight: 400;
    padding: 20px 0;
    margin: 0;
}

/* Option Container */
.quiz-box .option-container .option{
    background-color: #cccccc;
    padding: 13px 15px;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: capitalize;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    position: relative;
    overflow: hidden;
}

/* Correct Answer */
.quiz-box .option-container .option.correct::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: green;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}
@keyframes slideInLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

.quiz-box .option-container .option.correct{
    color: #ffffff;
}

/* Wrong Answer */
.quiz-box .option-container .option.wrong::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}

.quiz-box .option-container .option.wrong{
    color: #ffffff;
}

/* "Button Next" position */
.quiz-box .btn{
    margin: 15px 0;
}

/* No Answers Indicator */
.quiz-box .answers-indicator {
    border-top: 1px solid #8faaf7;
}

/* Answered Question Indicator */
.quiz-box .option-container .option.already-answered{
    pointer-events: none;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* Correct Answers Indicator */
.quiz-box .answers-indicator div.correct{
    background-color: green;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    
}

/* Wrong Answers Indicator */
.quiz-box .answers-indicator div.wrong{
    background-color: red;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    
}

/* Chronometer */
.chronometer-container{
    font-size: 22px;
    color: #000000;
    line-height: 28px;
    font-weight: 400;
    padding: 20px 0;
    margin: 0;
}

/* ----------- Result Screen ------------ */
.result-box.hide{
    display: none;
}

.result-box{
    text-align: center;
}

/* "Quiz Result" title */ 
.result-box h1{
    font-size: 36px;
    line-height: 42px;
    color: blue
}

.result-box table{
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}

/* Result Table */
.result-box table td{
    border: 1px solid #8ddff8;
    padding: 8px 15px;
    font-weight: 500;
    color: #0a4fe4;
    width: 50%;
    text-align: left;
    font-size: 18px;
}

.result-box .btn{
    margin-right: 20px;
}

@media(max-width: 767px){
    .result-box .btn{
        margin-bottom: 15px;
    }
    body{
        padding: 15px;
    }
}

.quiz-box .answers-indicator div{
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #cccccc;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 15px;
}

.quiz-box .welcome-container,
.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-btn,
.quiz-box .answers-indicator{
    width: 100%;
    float: left;

}


/* home-box, quiz-box, result-box*/
.custom-box {
    max-width: 700px;
    background-color: #fffffff1;
    opacity: 1;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    animation: fadeInRight 1s ease;
}
@keyframes fadeInRight{
    0%{
        transform: translateX(40px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.custom-box::before,
.custom-box::after{
    content: '';
    clear: both;
    display: table;
}

.custom-box.hide{
    display: none;
}

/* All buttons */
.btn {
    padding: 15px 45px;
    background-color:blue;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}
.btn:hover {
    background-color:rgba(0, 0, 255, 0.411);
  }





 
